
@media only screen and  (min-device-width: 480px) and (max-device-width: 768px){
  .phone4_3,.phone4_4,.phone4_5,.phone4_6,.phone4_7,.phone5_1,.phone_butt_1,
  .phone_butt_2,.phone_butt_3,
  .rectengal_phone_1,.rectengal_phone_2,.rectengal_phone_3,.rectengal_phone_4,
  .rectengal_phone_5,.rectengal_phone_6,.rectengal_phone_7,.rectengal_phone_8,
  .rectengal_phone_9,.rectengal_phone_10,.rectengal_phone_11,.rectengal_phone_12,
  .rectengal_phone_13,.rectengal_phone_14,.rectengal_phone_15,.rectengal_phone_16,
  .rectengal_phone_17,.rectengal_phone_18{
    display:none;
  }
  .wrapper{
    display: grid;
    grid-template-columns:repeat(60, 1fr);
    grid-auto-rows:minmax(auto, 12px);
    grid-auto-columns:minmax(24px, auto);
  }
  .button{
    top:none;
  }
  .box1_1{
    font-family: 'Wermut';
    font-size: 13px;
    grid-column:11/30;
    grid-row:3/4;
    vertical-align: middle;
    position: relative;
    top:-5%;
  }
  .box3_23{
    font-family: 'Wermut';
    font-size: 13px;
    grid-column:11/20;
    grid-row:36/37;
    vertical-align: middle;
    position: relative;

  }
  .box3_16{
    font-family: 'Wermut';
    font-size: 13px;
    grid-column:11/30;
    grid-row:81/82;
    vertical-align: middle;
    position: relative;
     top: 20%;
  }
  .box3_24{
    font-family: 'Wermut';
    font-size: 13px;
    grid-column:11/33;
    grid-row:41/45;
    vertical-align: middle;
    position: relative;

  }
}
@media only screen and  (min-device-width: 768px) and (max-device-width: 1024px){
  .phone4_3,.phone4_4,.phone4_5,.phone4_6,.phone4_7,.phone5_1,.phone_butt_1,
  .phone_butt_2,.phone_butt_3,
  .rectengal_phone_1,.rectengal_phone_2,.rectengal_phone_3,.rectengal_phone_4,
  .rectengal_phone_5,.rectengal_phone_6,.rectengal_phone_7,.rectengal_phone_8,
  .rectengal_phone_9,.rectengal_phone_10,.rectengal_phone_11,.rectengal_phone_12,
  .rectengal_phone_13,.rectengal_phone_14,.rectengal_phone_15,.rectengal_phone_16,
  .rectengal_phone_17,.rectengal_phone_18{
    display:none;
  }
   .wrapper{
    display: grid;
    grid-template-columns:repeat(60, 1fr);
    grid-auto-rows:minmax(16px, auto);
    grid-auto-columns:minmax(24px, auto);
  }
  .box1_1{
    font-family: 'Wermut';
    font-size: 13px;
    grid-column:11/30;
    grid-row:3/4;
    vertical-align: middle;
    position: relative;
    top:10%;
  }

  .box3_16{
    font-family: 'Wermut';
    font-size: 13px;
    grid-column:11/30;
    grid-row:81/82;
    vertical-align: middle;
    position: relative;
     top: 20%;
  }
  .box3_23{
    font-family: 'Wermut';
    font-size: 13px;
    grid-column:11/20;
    grid-row:36/37;
    vertical-align: middle;
    position: relative;
  }
  .box3_24{
    font-family: 'Wermut';
    font-size: 13px;
    grid-column:11/33;
    grid-row:41/45;
    vertical-align: middle;
    position: relative;
  }
  .box3_16{
    font-family: 'Wermut';
    font-size: 17px;
    grid-column:11/30;
    grid-row:81/82;
    vertical-align: middle;
    position: relative;
     top:-15%;
  }
}
@media only screen and  (min-device-width: 1024px) and (max-device-width: 1367px){
  .phone4_3,.phone4_4,.phone4_5,.phone4_6,.phone4_7,.phone5_1,.phone_butt_1,
  .phone_butt_2,.phone_butt_3,
  .rectengal_phone_1,.rectengal_phone_2,.rectengal_phone_3,.rectengal_phone_4,
  .rectengal_phone_5,.rectengal_phone_6,.rectengal_phone_7,.rectengal_phone_8,
  .rectengal_phone_9,.rectengal_phone_10,.rectengal_phone_11,.rectengal_phone_12,
  .rectengal_phone_13,.rectengal_phone_14,.rectengal_phone_15,.rectengal_phone_16,
  .rectengal_phone_17,.rectengal_phone_18{
    display:none;
  }
  .wrapper{
    display: grid;
    grid-template-columns:repeat(60, 1fr);
    grid-auto-rows:minmax(16px, auto);
    grid-auto-columns:minmax(24px, auto);
  }
  .box3_23{
    font-family: 'Wermut';
    font-size: 17px;
    grid-column:11/20;
    grid-row:36/37;
    vertical-align: middle;
    position: relative;
  }
  .box3_24{
    font-family: 'Wermut';
    font-size: 17px;
    grid-column:11/33;
    grid-row:41/45;
    vertical-align: middle;
    position: relative;
  }
}
@media only screen and  (min-device-width: 1367px) and (max-device-width: 1440px){
  .phone4_3,.phone4_4,.phone4_5,.phone4_6,.phone4_7,.phone5_1,.phone_butt_1,
  .phone_butt_2,.phone_butt_3,
  .rectengal_phone_1,.rectengal_phone_2,.rectengal_phone_3,.rectengal_phone_4,
  .rectengal_phone_5,.rectengal_phone_6,.rectengal_phone_7,.rectengal_phone_8,
  .rectengal_phone_9,.rectengal_phone_10,.rectengal_phone_11,.rectengal_phone_12,
  .rectengal_phone_13,.rectengal_phone_14,.rectengal_phone_15,.rectengal_phone_16,
  .rectengal_phone_17,.rectengal_phone_18{
    display:none;
  }
  .wrapper{
    display: grid;
    grid-template-columns:repeat(auto-fit,(60, 1fr));
    grid-auto-rows:minmax(24px, auto);
    grid-auto-columns:minmax(24px, auto);
  }
}

@media only screen and  (min-device-width: 1440px) and (max-device-width: 1920px){
  .phone4_3,.phone4_4,.phone4_5,.phone4_6,.phone4_7,.phone5_1,.phone_butt_1,
  .phone_butt_2,.phone_butt_3,
  .rectengal_phone_1,.rectengal_phone_2,.rectengal_phone_3,.rectengal_phone_4,
  .rectengal_phone_5,.rectengal_phone_6,.rectengal_phone_7,.rectengal_phone_8,
  .rectengal_phone_9,.rectengal_phone_10,.rectengal_phone_11,.rectengal_phone_12,
  .rectengal_phone_13,.rectengal_phone_14,.rectengal_phone_15,.rectengal_phone_16,
  .rectengal_phone_17,.rectengal_phone_18{
    display:none;
  }
  .wrapper{
    display: grid;
    grid-template-columns:repeat(60, 1fr);
    grid-auto-rows:minmax(24px, auto);
    grid-auto-columns:minmax(24px, auto);
  }
  .box3_1{
    grid-column: 7/8;
    grid-row: 33/78;
    border-right: 2px solid #333;
  }
  .box3_2{
  /* justify-self:end; */
  grid-column: 44;
  grid-row: 33/78;
  border-left: 2px solid #333;
  }
  .box3_3{
    /* justify-self:end; */
    grid-column: 45;
    grid-row: 33/78;
    border-left: 2px solid #333;
    }
  .box3_9{
    /* justify-self:end; */
  grid-column: 37;
  grid-row: 40/78;
  border-right: 2px solid #333;
  z-index: 4;
  }
  .box3_10{
    /* justify-self:end; */
  grid-column: 31;
  grid-row: 46/78;
  border-right: 2px solid #333;
  }
  .box3_11{
    /* justify-self:end; */
  grid-column: 25;
  grid-row: 52/78;
  border-right: 2px solid #333;
  }
  .box3_12{
    /* justify-self:end; */
  grid-column: 19;
  grid-row: 58/78;
  border-right: 2px solid #333;
  }
  .box3_13{
    /* justify-self:end; */
  grid-column: 1/61;
  grid-row: 78;
  border-top: 2px solid #333;
  }
  .box3_14{
    /* justify-self:end; */
  grid-column: 1/61;
  grid-row: 79/85;
  border-top: 2px solid #333;
  }
  .box3_15{
    grid-column: 13;
    grid-row: 64/78;
    border-right: 2px solid #333;
  }

}
